header, .about, footer {
  color: white;
}

h1, h2, header {
  text-transform: uppercase;
}

.bar {
  height: 3px;
  width: 10rem;
  display: inline-block;
  border-radius: 2px;
}

.star {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* NAVBAR */

nav {
  background-color: #2C3E50;
}

nav.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

nav [class*="nav_"] {
  line-height: 80px;
  height: 80px;
}

nav .nav_right {
  text-align: right;
}

ul.menu > li {
   display: inline-block;
   padding-left: 1rem;
 }

ul.menu > li > a {
  color: white;
}

/* JUMBOTRON */

section.jumbotron, section.about {
  background-color: #1ABC9C;
}

section.jumbotron img {
  width: 200px;
}

/* PORTFOLIO */

section.portfolio {
  padding-bottom: 5rem;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ABOUT */

.about .button {
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* CONTACT */

.contact {
  height: 500px;
}

/* FOOTER */

/* CREDITS */

.credits {
  background-color: #3A546D;
  height: 300px;
}

/* COPY */

.copy {
  background-color: #2C3E50;
  height: 80px;
  line-height: 80px;
}

/* HELPERS */

.ghost-align::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.a-center {
  text-align: center;
}

.a-left {
  text-align: left;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.pt-120 {
  padding-top: 120px;
}
