.white {
  color: white;
}

/* h1, h2, header {
  text-transform: uppercase;
} */

.bar {
  height: 3px;
  width: 10rem;
  display: inline-block;
  border-radius: 2px;
}

.star {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 25px;
}

.button {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* NAVBAR */

nav {
  background-color: #2C3E50;
  line-height: 80px;
  height: 80px;
}

.nav-button {
  background-color: inherit;
  color: grey;
  border: 1px solid white;
}

ul.menu > li {
   display: inline-block;
   padding-left: 1rem;
 }

ul.menu > li > a {
  color: white;
}

/* JUMBOTRON */

.bg-turquoise {
  background-color: #1ABC9C;
}

section.jumbotron img {
  width: 200px;
}

/* PORTFOLIO */

section.portfolio {
  padding-bottom: 5rem;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ABOUT */

.about .button {
  background-color: inherit;
  border: 1px solid white;
}

/* CONTACT */

.my_form_control {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
}

form .button {
  background-color: #1ABC9C;
  border: 1px solid white;
}

/* FOOTER */

/* CREDITS */

.credits {
  background-color: #3A546D;
}

/* COPY */

.copy {
  background-color: #2C3E50;
  height: 80px;
  line-height: 80px;
}

/* HELPERS */

.ghost-align::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.pt-120 {
  padding-top: 120px;
}
